:root {
    --cyber-nav-color: rgb(0, 0, 0);
    --cyber-nav-color-place: rgb(34, 34, 34);

    --cyber-white: rgb(255, 255, 255);
    --cyber-text-blue: rgb(196, 203, 221);
    --cyber-red: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2 {
    color: var(--cyber-white);
}

p {
    color: var(--cyber-text-blue);
}


a {
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

input:focus-visible {
    outline: none;
}