:root {
    --cyber-nav-color: rgb(29, 26, 26);
    --cyber-nav-color-place: rgb(54, 54, 54);

    --cyber-white: rgb(255, 255, 255);
    --cyber-text-color-primary: rgb(216, 216, 216);
    --cyber-red: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

input:focus-visible {
    outline: none;
}