.header {
    margin-top: 100px;
    height: 100%;
    padding: 20px;
    display: flex;
    color: #EEEEEE;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header_title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 50px;
}

.header_span {
    margin: 5px 0;
    font-weight: normal;
    font-size: 20px;
}

.header-btns {
    margin-top: 30px;
}

.header_btn {
    font-size: 20px;
    color: #EEEEEE;
    height: 60px;
    width: 165px;
    background: none;
    border: 1px solid #EEEEEE;
}

.header_btn:hover {
    transition: 250ms;
    background: #EEEEEE;
    color: black;
}