.navigation {
  height: 70px;
  padding: 10px;
  align-items: center;
  color: var(--cyber-white);
  background: var(--cyber-nav-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation_logo {
  color: var(--cyber-white);
  font-weight: bold;
}

.navigation_input {
  border: none;
  margin: 10px 0;
  height: 40px;
  padding: 0 20px;
  width: 300px;
  color: var(--cyber-text-color);
  background: var(--cyber-nav-color-place);
  border-radius: 20px;
}
