.header_status {
    background: #BD4B4B;
    height: 500px;
    display: flex;
    padding: 50px;
    align-items: center;
    color: #EEEEEE;
}

.status_span {
    font-size: 20px;
    font-weight: lighter;
    line-height: 23px;
    letter-spacing: 0.22em;
}